@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using BlogSiteWithUmbraco.Models;
@using Our.Umbraco.Ditto;
@using BlogSiteWithUmbraco.Extensions;
@using Umbraco.Core.Models.PublishedContent;

@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
    ViewData["Title"] = "Home";

    //section 3 - banner
    var banners = Model.Content.Children("sliderItem").Where(x => x.IsVisible()).ToList();
    var banner0 = ((PublishedContentWrapped)banners[0].GetPropertyValue("sliderUrl")).Url;
    var test = banners[0].As<SliderItemModel>();
    var lst = new List<string>
    {
        "123","123","451"
    };
    int a = 5;
    int b = 10;
    int tong = a.sum(b);
    int size = lst.getSize();
    var blogs = Model.Content.Site().FirstChild("blogs").Children("blogItem").Where(x => x.IsVisible()).OrderBy("CreateDate desc").ToList();
}

@section BlogLayoutA {
    <style>
        .post-entry-1 img {
            height: 30vh;
            width: 100%;
            object-fit: cover;
        }

        .post-entry-1 p {
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    </style>
}


<!-- Slider -->
@Html.Partial("Slider")
<!-- End slider -->


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            @*<p>@Umbraco.GetDictionaryValue("PhoneNumber")</p>*@
                            <h2>Editor's Pick</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.Partial("BlogLayoutA", blogs[0].As<BlogItemModel>())
                    </div>
                    <div class="col-md-6">
                        @foreach (var blog in blogs) {
                            @Html.Partial("BlogLayoutB", blog.As<BlogItemModel>());
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-title">
                    <h2>Trending</h2>
                </div>
                
                @for(var i = 0; i < blogs.Count; i++) {

                    BlogItemModel blogModel = blogs[i].As<BlogItemModel>();
                    blogModel.Index = i + 1;
                    @Html.Partial("BLogLayoutC", blogModel);
                }
                <p>
                    <a href="#" class="more">See All Trends <span class="icon-keyboard_arrow_right"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Banner -->
@Html.Partial("Banner", banners[0].As<SliderItemModel>())
<!-- End banner -->

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Politics</h2>
                </div>
                <div class="post-entry-2 d-flex">
                    <div class="thumbnail" style="background-image: url('/Media/images/big_img_1.jpg')"></div>
                    <div class="contents">
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
                <div class="post-entry-2 d-flex">
                    <div class="thumbnail" style="background-image: url('/Media/images/big_img_1.jpg')"></div>
                    <div class="contents">
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
                <div class="post-entry-2 d-flex">
                    <div class="thumbnail" style="background-image: url('/Media/images/big_img_1.jpg')"></div>
                    <div class="contents">
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Business</h2>
                </div>
                <div class="post-entry-2 d-flex">
                    <div class="thumbnail" style="background-image: url('/Media/images/big_img_1.jpg')"></div>
                    <div class="contents">
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
                <div class="post-entry-2 d-flex">
                    <div class="thumbnail" style="background-image: url('/Media/images/big_img_1.jpg')"></div>
                    <div class="contents">
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
                <div class="post-entry-2 d-flex">
                    <div class="thumbnail" style="background-image: url('/Media/images/big_img_1.jpg')"></div>
                    <div class="contents">
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="section-title">
                    <h2>Recent News</h2>
                </div>
                <div class="post-entry-2 d-flex">
                    <div class="thumbnail order-md-2" style="background-image: url('/Media/images/img_h_4.jpg')"></div>
                    <div class="contents order-md-1 pl-0">
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
                <div class="post-entry-2 d-flex">
                    <div class="thumbnail order-md-2" style="background-image: url('/Media/images/big_img_1.jpg')"></div>
                    <div class="contents order-md-1 pl-0">
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
                <div class="post-entry-2 d-flex">
                    <div class="thumbnail order-md-2" style="background-image: url('/Media/images/big_img_1.jpg')"></div>
                    <div class="contents order-md-1 pl-0">
                        <span class="caption mb-4 d-block">Editor's Pick</span>
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="section-title">
                    <h2>Popular Posts</h2>
                </div>
                <div class="trend-entry d-flex">
                    <div class="number align-self-start">01</div>
                    <div class="trend-contents">
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
                <div class="trend-entry d-flex">
                    <div class="number align-self-start">02</div>
                    <div class="trend-contents">
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
                <div class="trend-entry d-flex">
                    <div class="number align-self-start">03</div>
                    <div class="trend-contents">
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
                <div class="trend-entry d-flex pl-0">
                    <div class="number align-self-start">04</div>
                    <div class="trend-contents">
                        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
                <p>
                    <a href="#" class="more">See All Popular <span class="icon-keyboard_arrow_right"></span></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <ul class="custom-pagination list-unstyled">
                    <li><a href="#">1</a></li>
                    <li class="active">2</li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Banner -->
@Html.Partial("Banner", banners[1].As<SliderItemModel>())
<!-- End banner -->
<!-- Newsletter -->
@Html.Partial("Newsletter")
<!-- End newsletter -->