@model BlogSiteWithUmbraco.Models.ContactModel
@{
    var CurrentPage = (int)ViewData["CurrentPage"];
}
@using (Html.BeginUmbracoForm("PostContact", "Contact", new { CurrentPage = CurrentPage }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="fname">First Name</label>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-lg", @id = "first_name" })
            @Html.ValidationMessageFor(m => m.FirstName, "First name is required", new { @class = "text-danger" })
        </div>
        <div class="col-md-6 form-group">
            <label for="lname">Last Name</label>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-lg", @id = "last_name" })
            @Html.ValidationMessageFor(m => m.LastName, "Last name is required", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="eaddress">Email Address</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", @id = "email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6 form-group">
            <label for="tel">Phone Number</label>
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control form-control-lg", @id = "phone" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="message">Message</label>
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control form-control-lg", @id = "message" })
            @Html.ValidationMessageFor(m => m.Message, "Message is required", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
        </div>
    </div>
}
